<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>e</span>-shopper</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <!-- Add your video gallery items here -->
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
